/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #063f39;
    color: #fff;
    padding: 20px 0;
    display:flex;
    align-items:center;
    justify-content: space-between;
    text-shadow:5px 5px 5px #050505;
    color:wheat;
}
h1{
    border:2px groove rgba(5, 80, 88, 0.727);
    box-shadow:5px 8px 5px black;
    border-radius:5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}
.list:hover{
    font-size:25px;
    background-color: rgb(24, 91, 83);
    border-radius: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}
#about{
    background: linear-gradient(-50deg,rgb(187, 148, 75),rgb(250, 249, 249));
    
}
img{
    padding:30px;
    height:230px;
    width:auto;
    border-radius:20px;
    mix-blend-mode:darken;
    /* background-blend-mode: screen; */

}
tr,td{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
#skills{
    background: linear-gradient(-50deg,rgb(208, 175, 114),rgb(250, 249, 249));
}
p{
    font-size: 20px;
}
li{
    list-style: none;
    color: rgb(179, 15, 182);

}
.bar{
    height:15px;
    display:block;
    border:1px solid blue;border-radius: 10px;
    overflow: hidden;
    transition:all 0.3s cubic-bezier(.25,.8,.25,1);
    
}
.bar span{
    height:20px;
    float:left;
    background: linear-gradient(135deg, rgb(3, 108, 95),rgb(157, 173, 88));

}
.html{
    width:90%;
    animation:html 3s;
}
.css{
    width:70%;
    animation:html 3s;
}
.Javascript{
    width:50%;
    animation:html 3s;
}
.Cpp{
    width:60%;
    animation:html 3s;
}
@keyframes html{
    0%{width:0%;}
    100%{width:90%;}
}
@keyframes CSS{
    0%{width:0%;}
    100%{width:70%;}
}
@keyframes Javascript{
    0%{width:0%;}
    100%{width:50%;}
}
@keyframes Cpp{
    0%{width:0%;}
    100%{width:60%;}
}
#projects {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(242, 234, 220);
    border-radius:20px;
}
#resume a{
    text-decoration: none;
    color:rgb(14, 247, 22);
    font-size: 25px;
    text-shadow: 2px 5px 5px black;
}
#resume{
    background-color: rgb(242, 234, 220);
    text-align: center;
}
form {
    display:flex; 
    flex-direction: column; 
    align-items: center;
    justify-content:space-evenly;

}

form label {
    margin: 4px 0px;
    font-size: 20px;
}

form input, form textarea {
    width:400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    background-color:rgba(128, 128, 128, 0.395);
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

form button {
    padding: 15px 15px 15px 15px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

form button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background: #063f39;
    color: #fff;
}

@media (max-width: 600px) {
    header{
        display:block;
        text-align: center;
    }
    nav ul li {
        margin: 10px 0;
    }

    form {
        width: 100%;
    }
    h2{
        text-align: center;
    }
}
@media (max-width: 900px) {
    #projects{
        display: grid;
    }
    #projects img{
        padding: 10px;
    }
}
